:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Inter, sans-serif';
    overflow-y: overlay;
}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 56.25%; /* 1rem = 9px */
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%; /* 1rem = 8px */
    }
}

body {
    /* Hide scrollbar for Chrome, Safari, and newer Edge */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and older Edge */
}

/* WebKit-based browsers */
body::-webkit-scrollbar {
    width: 0; /* This effectively hides the scrollbar */
    background: transparent; /* Optional: Set the background color of the track */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    overflow-y: overlay;
    overflow-x: hidden;
    background-color: #fbf9ff;
}

ol,
ul {
    padding-left: 0rem;
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
